<div class="m-3">
  <header class="d-flex gap-2 bg-body-secondary p-2 align-items-center mb-3" style="min-height: 18dvh">
    <h1 class="flex-grow-1" style="cursor: pointer" (click)="resetPage()">Piscatorbibel 1755</h1>
    <div class="d-flex flex-wrap">
      <div>
      <h4>Buch</h4>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle style="min-width: 15rem">
          @if(currentBook.bookName){{{ currentBook.bookName | shortenBookName}}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="overflow-y-scroll" style="height: 40dvh">
          @for(book of bibleService.bible; let bookNr = $index; track bookNr){
            <button ngbDropdownItem (click)="currentBook=book; currentChapter=1">{{book.bookName | shortenBookName}}</button>
          }
          </div>
        </div>
      </div>
      </div>

    <div>
      <h4>Kapitel</h4>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-dark" id="dropdownBasic2" ngbDropdownToggle style="min-width: 5rem">
          @if(currentChapter){{{currentChapter}}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngIf="currentBook" class="overflow-y-scroll" style="height: 40dvh">
            @for (chapter of currentBook.chapters; let chapterNr = $index; track chapterNr){
              <button ngbDropdownItem (click)="currentChapter=chapterNr+1">{{chapterNr+1}}</button>
            }

          </div>
        </div>
      </div>
    </div>
</div>

  </header>



<main #main class="bg-body-tertiary p-3 overflow-y-scroll" style="height: 75dvh">
  @if(currentBook.bookName && currentChapter){
    <div class="d-flex mt-3">
      <h4 class="flex-grow-1 fw-bold" autofocus="autofocus">{{currentBook.bookName}}</h4>
      <div class="d-flex gap-2">
        <button class="btn btn-dark" (click)="currentChapter=currentChapter-1" [disabled]="currentChapter == 1"><span class="bi-caret-left"></span></button>
        <button class="btn btn-dark" (click)="currentChapter=currentChapter+1 " [disabled]="currentChapter == currentBook.chapters.length"><span class="bi-caret-right"></span></button>
      </div>
    </div>
    <hr>

    <h5 class="fw-bold">Das {{currentChapter | number2roman}} Capitel</h5>
    <div class="mb-5">
    @for(vers of currentBook.chapters[currentChapter-1]; track $index){
      <p>{{$index+1}} {{vers}}</p>
    }
    </div>


    <div class="d-flex gap-2">
      <p class="flex-grow-1"></p>
      <button class="btn btn-dark" (click)="currentChapter=currentChapter-1; main.scrollTo({top: 0, behavior: 'smooth'})" [disabled]="currentChapter == 1"><span class="bi-caret-left"></span></button>
      <button class="btn btn-dark" (click)="currentChapter=currentChapter+1; main.scrollTo({top: 0, behavior: 'smooth'})" [disabled]="currentChapter == currentBook.chapters.length"><span class="bi-caret-right"></span></button>
    </div>

  }
  @else {
    <div class="d-flex gap-3 flex-wrap">
    @for(book of bibleService.bible; track $index){
      <a class="link-dark" style="width: 23rem; cursor: pointer" (click)="currentBook=book; currentChapter=1">{{book.bookName}}</a>
    }
    </div>
  }

</main>

</div>

<!--
<div>
  @for(book of bibleService.bible; let bookNr = $index; track bookNr){
    <h2>Title: {{book.bookName}}</h2>
    @for(chapter of book.chapters; let chapterNr = $index; track chapterNr){
      <h3>Capitel: {{chapterNr+1 | number2roman}}</h3>

      @for(verse of chapter; let versNr = $index; track versNr){
        <p>{{versNr+1}} {{verse}}</p>
      }

    }

  }


</div>
-->
